section#projects {
    display: flex;
    flex-direction: column;
}

:root {
    --maxWidthProject: var(--maxWidthP);
}

section#projects .project {
    margin-bottom: 150px;
    border: var(--border);
    border-image: var(--borderGradient);
    border-radius: var(--border-radios);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: var(--maxWidthProject);
}

section#projects .project p {
    display: flex;
    align-items: center;
}

section#projects .project:nth-child(odd) {
    align-self: flex-end;
    text-align: right;
    align-items: flex-end;
}

section#projects .project:nth-child(odd) p {
    text-align: right;
    justify-content: flex-end;
}

section#projects .project p svg {
    margin: 0;
    margin-left: 10px;
    font-size: 2.3rem;
}

section#projects .project:nth-child(odd) p svg:first-child {
    margin-left: 10px;
}

section#projects .project:nth-child(odd) p svg {
    margin: 0;
    margin-right: 10px;
}


section#projects .project h3 {
    color: var(--fontColor);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

section#projects .project a {
    color: var(--fontColor);
    text-decoration: none;
    font-size: 1.28rem;
}

section#projects .project a svg {
    font-size: 1.25rem;
    margin: 0;
    margin-left: 5px;
}

section#projects .project a:hover svg {
    background-color: transparent;
}

section#projects .project a:hover {
    scale: 1.1;
}

@media (max-width: 1000px) {
    :root {
        --maxWidthProject: calc(100% - 30 * 2)
    }

    section#projects .project:nth-child(odd) {
        align-items: center;
    }

    section#projects .project:nth-child(odd) p {
        text-align: center;
    }

    section#projects .project {
        align-items: center;
    }
}