svg {
    font-size: 2em;
    margin-right: var(--padding);
}

a:hover svg {
    background-color: #0077b5;
    scale: 1.1;
    cursor: pointer;
}

a.linkedin svg {
    background-color: #0077b5;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
}

a.github svg {
    background-color: #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
}

a.whatsapp svg {
    background-color: #25d366;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
}